{% extends "base.html" %} 
{% block title %} Advanced {% endblock %} 

{% block extra_css %}
    {% set css_url = url_for('static', filename='advanced.css') %}
    <link rel="stylesheet" href="{{ css_url }}">
{% endblock %}

{% block content %} 
<h2 class="advanced-page-title">Hmm... What about the rest of world?</h2>
    <div class="chart-grid advanced-shifted-container">
        <div class="chart1">
            <div class="chart-wrapper chart1-wrapper advanced-shifted-container">
                <div id="chart">{{chart1|safe}}</div>
            </div>
        </div>
        <div class="chart1-description chart-description advanced-shifted-container">
            <div class="region-buttons">
                <button class="region-button" data-region="north-america">North America</button>
                <button class="region-button" data-region="europe">Europe</button>
                <button class="region-button" data-region="asia">Asia</button>
                <button class="region-button" data-region="south-america">South America</button>
                <button class="region-button" data-region="africa">Africa</button>
                <button class="region-button" data-region="oceania">Oceania</button>
            </div>
            <div id="region-description">
                <p class="region-description-text">Where would you like to go to?</p>
            </div>
        </div>
    </div>

    <h2 class="advanced-page-title"><br><br>Real Time Movie Data Comparison</h2>
    <div class="chart-grid advanced-shifted-container">
        <div class="chart-wrapper chart2-wrapper">
            <div id="chart2">{{chart2|safe}}</div>
        </div>
    </div>

    <!-- Add more space between charts and search containers -->
    <div class="spacer"></div>

    <!-- Search containers at the bottom of the page -->
    <div class="bottom-search-container advanced-shifted-container">
        <form id="search-form" action="{{ url_for('views.advanced') }}" method="GET">
            <div class="search-container">
                <input type="text" class="bottom-search-bar" name="title1" placeholder="Movie 1...">
                <input type="text" class="bottom-search-bar" name="title2" placeholder="Movie 2...">
            </div><br><br><br>
            <button type="submit">Compare</button>
            <div id="error-message" style="color: red; display: none;">Both fields must be filled in to search.</div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}