<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="hamburger-menu" id="hamburger-menu">
            &#9776; <!-- Unicode character for the hamburger icon -->
        </div>
        <span class="brand-name">CineSurfer</span>
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-bar" placeholder="Browse...">
        </div>
        <div class="user-icon-container">
            <i class="fas fa-user-alt"></i>
            <div class="dropdown-menu">
                <a href="profile.html">Profile</a>
                <a href="settings.html">Settings</a>
                <a href="#logout">Logout</a>
            </div>
        </div>
    </header>
    <nav id="side-panel">
        <div class="nav-links">
            <a href="basic.html"><i class="fas fa-home"></i> HomePage</a>
            <a href="favourites.html"><i class="fas fa-star"></i> Favourites</a>
            <a href="settings.html"><i class="fas fa-cog"></i> Settings</a>
        </div>
        <div class="logout-container">
            <a href="#logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </nav>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages %}
                {% if category =='error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor%}
        {% endif %}
    {% endwith %}
    </div>
    <script src={{ url_for('static', filename='script.js')}}></script>
</body>
</html>
</body>
</html>