<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search_results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='favourites.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <header>
        <div class="hamburger-menu" id="hamburger-menu">
            &#9776; <!-- Unicode character for the hamburger icon -->
        </div>
        <span class="brand-name">
            <a href="{% if current_user.is_authenticated %}basic.html{% else %}./{% endif %}" class="brand">CineSurfer</a>
        </span>
        <div class="search-container">
            <form id="search-form" action="{{ url_for('views.search') }}" method="GET">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-bar" name="query" placeholder="Browse..." id="search-input">
                <div id="search-suggestions" class="search-suggestions"></div>
            </form>
        </div>
        <div class="user-icon-container">
            <i class="fas fa-user-alt"></i>
            <div class="dropdown-menu">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('views.profile_page') }}">Profile</a>
                    <a href="{{ url_for('views.settings_page') }}">Settings</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Sign In</a>
                    <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% if request.path not in ['/settings.html', '/profile.html', '/user_favourites.html', '/personalized.html'] and not request.path.startswith('/search') and not request.path.startswith('/movie_details') %}
    <section class="categories">
        <div class="category-links">
            <a href="basic.html">Basic</a>
            <a href="intermediate.html">Intermediate</a>
            <a href="advanced.html">Advanced</a>
        </div>
    </section>
    {% endif %}

    <nav id="side-panel">
        <div class="nav-links">
            <a href="{% if current_user.is_authenticated %}basic.html{% else %}./{% endif %}"><i class="fas fa-home"></i> HomePage</a>
            <a href="{{ url_for('views.user_favourites') }}"><i class="fas fa-star"></i> Favourites</a>
            <a href="{{ url_for('views.settings_page') }}"><i class="fas fa-cog"></i> Settings</a>
        </div>
        <div class="logout-container">
            <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </nav>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
</body>
</html>