{% extends "base.html" %} 
{% block title %} Favourites {% endblock %} 
{% block content %} 

<div class="favourites content">
    <div class="fav-title">My Favourites</div>
    <div class="fav-container">
        <button class="fav-left-btn"><i class="fas fa-caret-left"></i></button>
        <div class="fav-carousell">
            <div class="fav-card-1">
                <div class="fav-card-1-title">Wrath of Van Helsing</div>
                <div class="fav-card-1-details">2022 | Horror | 2h 10m</div>
                <div class="fav-card-1-synopsis"><p>Catch the second season of Valt The Wonder Deer and his adventures in the Land of Wood...</p></div>
                <button class="fav-card-1-btn"><a href='movie_details.html'>See More</a></button>
                <button class="fav-card-1-esc"><a href='#'>&#x2A02;</a></button>
            </div>
            <div class="fav-card-2">
                <div class="fav-card-2-title">Would you Still Love Me?</div>
                <div class="fav-card-2-details">2023 ‧ Science Fiction | Romance ‧ 4m</div>
                <div class="fav-card-2-synopsis"><p>A romantic picnic takes an unexpected turn...</p></div>
                <button class="fav-card-2-btn"><a href='movie_details.html'>See More</a></button>
                <button class="fav-card-2-esc"><a href='#'>&#x2A02;</a></button>
            </div>
            <div class="fav-card-3">
                <div class="fav-card-3-title">Wrexham: Hollywood or Bust</div>
                <div class="fav-card-3-details">2023 ‧ Documentary | TV movie ‧ 28m</div>
                <div class="fav-card-3-synopsis"><p>A journey through the history of Wrexham AFC, exploring why promotion to the Football...</p></div>
                <button class="fav-card-3-btn"><a href='movie_details.html'>See More</a></button>
                <button class="fav-card-3-esc"><a href='#'>&#x2A02;</a></button>
            </div>
        </div>
        <button class="fav-right-btn"><i class="fas fa-caret-right"></i></button>
    </div>
    <button class="see-personalized-btn"><a href='personalized.html'>See Personalized Recommendations</a></button>
        
</div>
    
{% endblock %}