{% extends "base2.html" %} 
{% block title %} Forgot Password {% endblock %} 
{% block content%} 

<div class="forgot-password-container">
    <div class="profile-container">
        <h1 class="text-center">Forgot Password</h1>
        <h3 class="text-center">Reset your password</h3>
        <form method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>Remembered your password? <a href="/login">Sign In</a></p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}