{% extends "base.html" %} 
{% block title %} Personalized Recommendations {% endblock %} 
{% block content%} 

<div class="personalized content">
    <div class="personalized-title">Based on the Movies you loved... Your Favorite Genre is </div>
    <div class="personalized-genre">{{ top_genres | join(' | ') }}</div>
    <div class="personalized-description">Thus, we would like to recommend</div>
    <div class="personalized-container">
        <button class="fav-left-btn"><i class="fas fa-caret-left"></i></button>
        <div class="fav-carousell">
            {% for movie in recommendations %}
            <div class="fav-card" data-movie-id="{{ movie.movie_id }}">
                <button class="fav-card-delete">X</button>
                <div class="personalized-card-title">{{ movie.title }}</div>
                <div class="personalized-card-details">{{ movie.release_year }} ‧ {{ movie.genres | map(attribute='name') | join(', ') }} ‧ {{ movie.runtime }} mins</div>
                <div class="personalized-card-synopsis">
                    <p>{{ (movie.overview[:150] if movie.overview else 'N/A')  }}{% if movie.overview and movie.overview|length > 100 %}...{% endif %}</p>
                </div>
                <button class="personalized-card-btn"><a href="{{ url_for('views.movie_details_page', movie_id=movie.movie_id) }}">See More</a></button>
            </div>
            {% endfor %}
        </div>
        <button class="fav-right-btn"><i class="fas fa-caret-right"></i></button>
    </div> 
</div>

{% endblock %}