{% extends "base.html" %}
{% block title %} Searched Movie Dashboard {% endblock %}
{% block content %}
<div id="side-panel" class="side-panel">
        <!-- Side panel content here -->
    </div>
    <h1 class="page-title">"{{ movie_name | default('N/A') }}" Movie Dashboard</h1>
    <div class="chart-grid">
        <div class="chart1">
            <div class="chart-container">
                <h2>Movie Genre Distribution</h2>
                {{ chart1|safe }}
            </div>
        </div>
        <div class="chart1-description chart-description">
            <p>Genre stuff</p>
        </div>

        <div class="chart4">
            <div class="chart-container">
                <h2>Based on vote_average, popularity, overview_sentiment and vote_count, the gauge performance is:</h2>
                {{ chart2|safe }}
            </div>
        </div>

        <div class="chart2">
            <div class="chart-container">
                <h2>Overview Keywords Word Cloud</h2>
                {{ chart3|safe }}
            </div>
        </div>

        <div class="chart4-description">
            <p>Network stuff</p>
        </div>


        <div class="chart3">
            <div class="chart-container">
                <h2>Network graph for potrayal of relationship between Directors and Actors</h2>
                {{ chart4|safe }}
            </div>
        </div>

        <div class="chart3-description">
            <p>Actor and director tings</p>
        </div>
{% endblock %}