{% extends "base.html" %}
{% block title %} Searched Movie Dashboard {% endblock %}

{% block extra_css %}
    {% set css_url = url_for('static', filename='searched_movieDashboard.css') %}
    <link rel="stylesheet" href="{{ css_url }}">
{% endblock %}

{% block content %}
<div id="side-panel" class="side-panel">
        <!-- Side panel content here -->
    </div>
    <h1 class="page-title">"{{ movie_name | default('N/A') }}" Movie Dashboard</h1>
    <div class="chart-grid">
        <div class="chart1">
            <div class="chart-container">
                <h2>Movie Genre Distribution</h2>
                {{ chart1|safe }}
            </div>
        </div>
        <div class="chart1-description chart-description">
            <p>Popular genres indicating a balanced appeal to diverse audience preferences.</p>
        </div>

        <div class="chart4">
            <div class="chart-container">
                <h2>Performance... How's it doing?</h2>
                {{ chart2|safe }}
            </div>
        </div>

        <div class="chart2">
            <div class="chart-container">
                <h2>Overview Keywords Word Cloud</h2>
                {{ chart3|safe }}
            </div>
        </div>

        <div class="chart4-description">
            <p>Based on Vote Average, Popularity, Overview Sentiment and Vote Count, {{ movie_name | default('N/A') }} seems to be doing pretty well.</p>
        </div>


        <div class="chart3">
            <div class="chart-container">
                <h2>Movies of Similar Genres</h2>
                {{ chart4|safe }}
            </div>
        </div>

        <div class="chart3-description">
            <p>If you like {{ movie_name | default('N/A') }}, you might like some of these other movies as well.</p>
        </div>
{% endblock %}