{% extends "base.html" %}
{% block title %} Favourites {% endblock %}
{% block content %}

<div class="favourites content">
    <div class="fav-title">My Favourites</div>
    <div class="fav-container">
        <button class="fav-left-btn"><i class="fas fa-caret-left"></i></button>
        <div class="fav-carousell">
            {% for movie in favourites %}
            <div class="fav-card" data-movie-id="{{ movie.movie_id }}">
                <div class="fav-card-title">{{ movie.title }}</div>
                <div class="fav-card-details">{{ movie.release_year }} | {{ movie.genres | join(', ') }} | {{ movie.runtime }} mins</div>
                <div class="fav-card-synopsis">
                    <p>{{ (movie.overview[:150] if movie.overview else 'N/A') }}{% if movie.overview and movie.overview|length > 100 %}...{% endif %}</p> <!-- Truncate overview -->
                </div>
                <button class="fav-card-btn"><a href="{{ url_for('views.movie_details_page', movie_id=movie.movie_id) }}">See More</a></button>
                <button class="fav-card-esc"><a href='#'>&times;</a></button> <!-- Replace with 'X' button -->
            </div>
            {% endfor %}
        </div>
        <button class="fav-right-btn"><i class="fas fa-caret-right"></i></button>
    </div>
    <button class="see-personalized-btn"><a href='personalized.html'>See Personalized Recommendations</a></button>
</div>

{% endblock %}