body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800; /* Set font weight to extra bold */
    margin: 0;
    display: flex;
    flex-direction: column; /* Ensure header is at the top */
    transition: opacity 0.5s ease-in-out;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header {
    width: 100%;
    height: 60px; /* Adjust the height as needed */
    background-color: white; /* Change background color to white */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed; /* Make the header sticky */
    z-index: 2;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3); /* Add a dark shadow beneath the header */
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
}

.brand-name {
    font-weight: 800; /* Extra bold */
    margin-left: 28px; /* Space between the icon and the text */
    font-size: 36px; /* Adjust the font size as needed */
    -webkit-text-stroke: 1px black; /* Add an outline */
}

.brand:link,
.brand:visited,
.brand:hover,
.brand:active {
    color: inherit; /* Ensure the color does not change */
    text-decoration: none; /* Ensure no underline */
}

.search-container {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the search bar takes up the full width */
    max-width: 400px; /* Set a maximum width for the search bar */
}

.search-bar {
    flex-grow: 1; /* Allow the search bar to grow and take up available space */
    padding: 8px 12px;
    padding-left: 40px; /* Add padding to the left to make space for the icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    left: 10px; /* Position the icon inside the search bar */
    font-size: 18px;
    color: #ccc;
}

.user-icon-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center the icon vertically */
    margin-left: auto; /* Push the user icon to the right */
    padding: 0 30px; /* Add padding for spacing */
    position: relative;
}

.user-icon-container i {
    font-size: 26px; /* Adjust icon size */
    color: #333; /* Set icon color */
    margin-right: 7px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.user-icon-container a {
    text-decoration: none; /* Remove underline from the link */
    color: #333; /* Set link color */
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px #000000a9;
    z-index: 1;
    right: 0; /* Align the dropdown menu to the right */
    top: 45px;
    border-radius: 7px;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -29px; /* Position the triangle above the menu */
    right: 45px; /* Adjust this value to align the triangle */
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent white transparent; /* Create the triangle */
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.user-icon-container:hover .dropdown-menu {
    display: block;
}

.categories {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: white; /* Ensure background color matches header */
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for separation */
    position: sticky; /* Make the categories section sticky */
    top: 60px; /* Stick below the header */
}

.category-links a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid transparent; /* Add transparent border */
    padding-bottom: 5px; /* Adjust padding to match border position */
}

.category-links a:hover,
.category-links a.active {
    border-bottom: 3px solid black; /* Show border on hover and active */
    color: black;
    text-decoration: none;
}

#side-panel {
    overflow-x: hidden;
    background-color: white;
    width: 200px;
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column; /* Vertical layout */
    justify-content: center; /* Center vertically */
    position: fixed; /* Fixed sidebar */
    top: 60px; /* Offset by the height of the header */
    left: -200px; /* Initially hide the side panel */
    transition: left 0.3s; /* Smooth transition */
    border-right: 1px solid #333; /* Add a vertical line on the right side */
    overflow-y: auto;
    z-index: 1; /* Ensure the side panel is above the content */
}

#side-panel .nav-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the nav links to grow and take up available space */
    justify-content: center; /* Center the nav links vertically */
    align-items: center; /* Center the nav links horizontally */
}

#side-panel a {
    display: flex;
    align-items: center;
    color: black;
    text-align: left; /* Ensure text is left-aligned */
    padding: 14px 16px;
    padding-left: 30px; /* Add padding to the left side */
    text-decoration: none;
    width: 100%; /* Make the anchor tag take up the full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

#side-panel a i {
    margin-right: 10px; /* Space between the icon and the text */
}

#side-panel a:hover {
    background-color: silver;
    color: black;
}

#side-panel.show {
    left: 0; /* Show the side panel */
}

.main-content {
    margin-left: 0; /* Same width as the side panel */
    padding: 30px;
    flex-grow: 1;
    margin-top: 80px; /* Add margin to move content down from the header */
}

.logout-container {
    position: absolute;
    bottom: 90px; /* Adjust this value to position the logout button */
    width: 100%; /* Ensure the button takes the full width */
    padding: 14px 16px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.content.shifted {
    margin-left: 200px; /* Offset content by the width of the sidebar */
    transition: margin-left 0.3s; /* Smooth transition for margin change */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-container {
        left: 50%;
        transform: translateX(-50%);
        max-width: 300px; /* Adjust max-width for smaller screens */
    }

    .search-bar {
        min-width: 200px; /* Adjust min-width for smaller screens */
    }

    .category-links a {
        margin: 0 10px;
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    #side-panel {
        width: 150px; /* Adjust width for smaller screens */
        left: -150px; /* Initially hide the side panel */
    }

    .content.shifted {
        margin-left: 150px; /* Adjust margin for smaller screens */
    }
}

@media (max-width: 480px) {
    .search-container {
        left: 50%;
        transform: translateX(-50%);
        max-width: 200px; /* Adjust max-width for smaller screens */
    }

    .search-bar {
        min-width: 150px; /* Adjust min-width for smaller screens */
    }

    .category-links a {
        margin: 0 5px;
        font-size: 12px; /* Adjust font size for smaller screens */
    }

    #side-panel {
        width: 120px; /* Adjust width for smaller screens */
        left: -120px; /* Initially hide the side panel */
    }

    .content.shifted {
        margin-left: 120px; /* Adjust margin for smaller screens */
    }
}

/* Toggle switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* end of toggle switch styles */

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1e1e1e;
}

.dark-mode .settings-container {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .btn {
    background-color: #333;
    color: #fff;
}

.dark-mode #side-panel {
    background-color: #1e1e1e;
    border-right: 1px solid #fff;
    border-right: 1px solid #333; /* Add a vertical line on the right side */
}

.dark-mode #side-panel a {
    color: #fff;
}

.dark-mode #side-panel a:hover {
    background-color: #333;
    color: #fff;
}

.dark-mode .user-icon-container i {
    color: #ffffff; /* Change icon color to white */
}

.dark-mode .dropdown-menu {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .dropdown-menu::before {
    border-color: transparent transparent #1e1e1e transparent; /* Change triangle color */
}

.dark-mode .dropdown-menu a {
    color: #ffffff;
}

.dark-mode .dropdown-menu a:hover {
    background-color: #333;
    text-decoration: none;
}

.dark-mode .category-links a {
    color: #ffffff;
}

.dark-mode .category-links a:hover, .dark-mode .category-links a.active {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
}