.forgot-password-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80%; /* Adjust the width */
    max-width: 300px; /* Set a smaller maximum width */
    margin: 0 200px;
    padding: 20px;
    height: calc(100vh - 100px); /* Adjust height to account for header */
}

.profile-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.col {
    flex: 1;
    padding: 0 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 7px;
    display: block;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

p {
    margin-top: 10px;
}

a {
    text-decoration: none; /* Remove underline from all links */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
