.homepage-content {
    margin-left: 0; /* Offset content by the width of the sidebar */
    padding: 10px 20px;
    flex-grow: 1; /* Allow content to grow and fill the remaining space */
    transition: margin-left 0.3s; /* Smooth transition for margin change */
}

.homepage-center-container {
    text-align: center; /* Center the text */
    position: relative;
    left: 10%;
}

.homepage-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 31px;
    font-weight: 800; /* Set font weight to regular */
    margin: 0px; /* Remove default margin */
    line-height: 1.5; /* Adjust line height for spacing */
}

.homepage-explore-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

.homepage-explore-button {
    font-family: 'Poppins', sans-serif; 
    font-size: 100px;
    font-weight: 800; /* Set font weight to regular */
    margin: 0px; /* Remove default margin */
    line-height: 1.5; /* Adjust line height for spacing */
    cursor: pointer;
    color: #02d2ba; /* Purple by default */
    display: inline-block; /* Reduce hitbox to text size */
    position: relative;
    top: -60px;
    left: 0;
}

.homepage-explore-link:hover {
    color: #e38fed !important; /* Pink on hover */
    text-decoration: none;
}

.homepage-explore-description {
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    font-weight: 400; /* Set font weight to regular */
    margin: 0 auto; /* Remove default margin */
    line-height: 1.4; /* Adjust line height for spacing */
    padding: 0px; /* Some padding */
    width: 50%;
}

.homepage-image-1 {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left;
    left: 30px;
    position: relative;
    top: 0;
}

.homepage-image-2 {
    width: 140px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left;
    left: 100px;
    position: relative;
    top: -140px;
}

.homepage-image-3 {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left;
    position: relative;
    top: 100px;
    left: 100px;
}

.homepage-image-4 {
    width: 130px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    bottom: 20px; 
    float: middle;
    position: relative;
    top: -150px;
    left: 300px;
}

.homepage-image-5 {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: right;
    margin-top: 100px; /* Adjust to align beside the explore button */
    position: relative;
    left: -200px;
}

.homepage-image-6 {
    width: 140px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: right;
    margin-top: -600px;
    left: 900px;
    position:relative;
    clear: right;
}

/* media query for tablets */
@media (max-width: 768px) {
    .homepage-image-1, .homepage-image-2, .homepage-image-3, .homepage-image-4, .homepage-image-5, .homepage-image-6 {
        width: 100px; /* Adjust the width as needed */
        top: 0; /* Reset top position */
        left: 0; /* Reset left position */
        margin: 10px auto; /* Center images */
    }

    .homepage-explore-description {
        width: 80%; /* Adjust width for smaller screens */
    }

    .homepage-explore-button {
        font-size: 50px; /* Adjust font size for smaller screens */
    }
}

/* media query for mobile devices */
@media (max-width: 480px) {
    .homepage-image-1, .homepage-image-2, .homepage-image-3, .homepage-image-4, .homepage-image-5, .homepage-image-6 {
        width: 80px; /* Adjust the width as needed */
        top: 0; /* Reset top position */
        left: 0; /* Reset left position */
        margin: 5px auto; /* Center images */
    }

    .homepage-explore-description {
        width: 90%; /* Adjust width for smaller screens */
    }

    .homepage-explore-button {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}