.signup-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    height: calc(100vh - 100px); /* Adjust height to account for header */
}

.profile-container, .benefits-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.divider {
    width: 1px;
    background-color: #ccc;
    height: auto;
    margin: 0 10px;
}

.form-group {
    margin-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.col {
    flex: 1;
    padding: 0 10px;
}

.col-space {
    flex: 1;
    padding: 0 10px;
    margin-right: 20px; /* Add space between columns */
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 7px;
    display: block;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

p {
    margin-top: 10px;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc; /* Change list style type here */
    padding: 0 20px; /* Add padding to align with text */
}

ul li {
    margin-bottom: 15px;
}

ul li strong {
    display: block;
    margin-bottom: 5px;
}