.searched li {
    margin: 10px 0; /* Add some margin between list items */
}

.searched a {
    color: black; /* Default font color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust font size */
}

.searched a:hover {
    color: rgb(13, 29, 132); /* Font color during hover */
    text-decoration: none; /* Add underline during hover */
}

.popup-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.search-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    top: 50px;
}

.dropdown-state {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

.dark-mode .searched a {
    color: white; /* Default font color in dark mode */
}

.dark-mode .searched a:hover {
    color: rgb(238, 213, 172); /* Default font color in dark mode */
}